
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Company</th>
                <th>Posts</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name.split(' ')[0] }}</td>
                <td>{{ user.name.split(' ')[1] }}</td>
                <td>{{ user.phone}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.company.name}}</td>
                <td>
                    <a [routerLink]="['/posts', user.id]" [queryParams]="{name: user.name}">Click For Posts</a>
                </td>
            </tr>
        </tbody>
    </table>

    <app-button [hidden]="hidden" (isClicked)="fetchUsers()"></app-button>
</div>