
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>ტელეფონი</th>
                <th>მეილი</th>
                <th>კომპანია</th>
                <th>პოსტები</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>luka</td>
                <td>kilasonia</td>
                <td>557542141</td>
                <td>luka.kilasonia.1&#64;btu.edu.ge</td>
                <td>No Company</td>
                <td>Link.</td>
            </tr>

            <tr>
                <td>luka</td>
                <td>kilasonia</td>
                <td>557542141</td>
                <td>luka.kilasonia.</td>
                <td>No Company</td>
                <td>Link.</td>
            </tr>
        </tbody>
    </table>
</div>