
.table-container {
    overflow-x: auto;
    margin-top: 30px;
    table {
        width: 100%;
        border-collapse: collapse;
        min-width: 600px;

        thead {
            background-color: rgb(48, 48, 48);
        }

        th,td {
            border: 1px solid grey;
            text-align: left;
            height: 40px;
            padding: 0.5rem;

            a {
                cursor: pointer;
                color: inherit;
            }
        }
    }
}

.animated-link {
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #007bff;
    transition: width 1.5s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover {
    color: #0056b3;
  }
}
